<div class="wrap">
		<h2 class="feeling"><%= @feeling.name %></h2>
        <!-- start jtinder container -->
        <div id="tinderslide">
            <ul>
            	<% for i in 1..10 do %>
            	<li id="lastslide">
            		<div>
                        <div class="row">
                            <h1>Sorry, new images coming soon!</h1>
                        </div>
                        <div class="row">
                            <a class="logo navbar-brand" href="/">HOW R<span>&hearts;</span>U FEELIN <span style="font-size: 35px; color: black">NOW?</span></a>
                        </div>
            		</div>
            	</li>
            	<% end %>
            	<% @images.each do |image| %>
                <li class="pane1">
                    <div><%= image.name %> <%= image_tag(image.url, :class => "img-responsive img") %> </div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions">
        <a href="#" class="dislike"><i></i></a>
        <a href="#" class="like"><i></i></a>
    </div>

    <!-- jTinder status text  -->
    <div id="status"></div>


