    <div class="main">
      <div class="container-fluid">
        <h1 style="font-size:50px">How are you feeling today?</h1>
        <div class="btn-group">
          <button class="btn btn-default btn-ms dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            PRESS ME NOW! <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" role="menu">
              <% @feelings.each do |feeling| %>
                <%= link_to(feeling) do %>
                  <li>
                  <%= feeling.name  %>
                  </li>
                <% end %> 
              <% end %>
          </ul>
        </div>
      </div>
    </div>